# --- For-Bot-Working --------- #
pyrofork==2.3.38
TgCrypto
pyromod==1.5
pyrogram==1.3.6  # Add this line to specify an earlier version of pyrogram
# --- For-Database ------------ #
pymongo
motor
umongo
dnspython
marshmallow
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
